*{
    margin: 0;
    padding: 0;
    /* border: 1px solid white; */
}

html, body{
    height: 100%;
}

body{
    /* background-image: url(../resources/pictures/BodyBackground.jpg);
    filter: blur(3px); This was the original background.*/
    background-color: #000;
    justify-content: center;
    overflow: hidden;
    display: grid;
}

.main-pic-container{
    width: 30rem;
    height: 30rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-pic-container img {
    width: 50%;
    height: 50%;
    border-radius: 8%;
    object-fit: cover;
    filter: drop-shadow(2mm 2mm 2mm rgb(0, 42, 119));
    /* hue-rotate(1.31415926rad); */
}

.star {
    position: absolute;
    width: .01rem;
    height: .01rem;
    border-radius: 50%;
    background: #fff;
    animation: twinkling 4s infinite;
}

@keyframes twinkling {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
