*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid white;
}

html, body{
    height: 100%;
}

body{
    /* background-image: url(../resources/pictures/BodyBackground.jpg);
    filter: blur(3px); This was the original background.*/
    background-color: #000;
    justify-content: center;
    overflow: hidden;
    display: grid;
}

.main-pic-container{
    width: 30rem;
    height: 30rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-pic-container img {
    display: none;
    width: 50%;
    height: 50%;
    border-radius: 8%;
    object-fit: cover;
    filter: drop-shadow(2mm 2mm 2mm rgba(0, 42, 119, 0.514));
}
